* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
}
.main {
  width: 100%;
  min-height: 100vh;
  /* background-color: aliceblue; */
}
.navbar {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(8% - 0.5rem);
  font-size: 1.3rem;
  box-shadow: 0.4rem 0.4rem 0.8rem rgb(219, 219, 219);
}
.navbar.pagesShown {
  box-shadow: none;
}
.brandname {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 700;
  color: rgb(0, 135, 153);
  text-shadow: 0.1rem 0.1rem 0.2rem rgb(168, 168, 168);
}
.pages {
  display: flex;
  flex-direction: row;
  width: 30rem;

  align-items: flex-end;
  justify-content: space-evenly;
  height: 2.5rem;
}
.pages.mob {
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 1.5rem;

  box-shadow: 0rem 0.6rem 0.6rem rgb(219, 219, 219);
}
.pages.mob.hidden {
  height: 0rem;
  content-visibility: hidden;
  animation: rollUp 0.3s ease-out;
}
.pages.mob.shown {
  height: 14rem;
  animation: dropdown 0.3s ease-out;
}
@keyframes dropdown {
  from {
    height: 2rem;
  }
  to {
    height: 14rem;
  }
}
@keyframes rollUp {
  from {
    height: 14rem;
  }
  to {
    height: 0rem;
  }
}

.pages > * {
  text-decoration: none;
  /* background-color: rgb(255, 193, 193); */
  /* height: 1.8rem; */
  color: rgb(0, 61, 61);
  cursor: pointer;
}
.pages.mob > * {
  animation: fadeIn 0.6s ease-in;
  /* height: 15rem; */
  font-size: 1.2rem;
  width: 100%;
  /* background-color: blueviolet; */
}
@keyframes fadeIn {
  from {
    color: rgba(255, 249, 249, 0);
  }
  to {
    color: black;
  }
}
.pages.mob > *:focus,
.pages.mob > *:hover {
  color: rgb(0, 131, 253);
  padding-left: 0.6rem;
  background-color: rgb(170, 217, 255);
  /* transform: padding-left; */
  animation: hoverSlide 0.5s ease-in-out;
  /* transition: background-color 0.2s ease-in; */
}
@keyframes hoverSlide {
  from {
    color: black;
    padding-left: 0rem;
    background-color: rgb(255, 255, 255);
  }

  to {
    color: rgb(0, 131, 253);
    padding-left: 0.6rem;
    background-color: rgb(170, 217, 255);
  }
}
.social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  /* background-color: red; */
  width: 8rem;
  height: 2.5rem;
}
.social > * {
  font-size: 1.5rem;
  color: rgb(0, 135, 153);
  /* padding-top: 1.5rem; */
}
.social > *:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}
.burger {
  color: rgb(0, 135, 153);
  font-size: 1.8rem;
  transform: rotate(0deg);
  animation: spinAntiClock 0.4s ease-in;
  cursor: pointer;
}
.burger.clicked {
  animation: spinClock 0.4s ease-in;
  transform: rotate(90deg);
}
@keyframes spinClock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes spinAntiClock {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
